# K-Fold

In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import cross_val_score
import pandas as pd
from sklearn import model_selection
df = pd.read_csv (r"mtcars_for_manymerge.csv")
x = df[['cyl','hp']]
y = df['Feedback']
#x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =5)
knn = KNeighborsClassifier(n_neighbors=4)
#kfold.fit(x,y)
print(cross_val_score(knn,x,y,cv=10,scoring="accuracy").mean())

0.5666666666666667

# checking K value for K_Fold

In [10]:
kfold = model_selection.KFold(n_splits=10, random_state=7)

for i in range(2,11):
      print('k=',i,cross_val_score(knn,x,y,cv=i,scoring="accuracy").mean())

k= 2 0.37727272727272726
k= 3 0.4067460317460318
k= 4 0.4125
k= 5 0.63
k= 6 0.47222222222222227
k= 7 0.5
k= 8 0.5104166666666666
k= 9 0.574074074074074
k= 10 0.5666666666666667

In [12]:
test_data=pd.read_csv(r"new_mtcars_for_manymerge.csv")
test_data

                Cars  mpg  cyl   disp   hp  drat  Feedback
0           MazdaRX4   29    7  160.0  120  3.90         1
1       MazdaRX4_WAG   30    6  160.0  118  3.90         0
2         Datsun_710   31    4  108.0  116  3.85         1
3     Hornet_4_Drive   29    6  258.0  110  3.08         1
4  Hornet_Sportabout   30    8  360.0  175  3.15         1
5            Valiant   33    6  225.0  105  2.76         1
6         Duster_360   30    8  360.0  245  3.21         0
7          Merc_240D   30    8  146.7   50  3.69         0
8           Merc_230   30    9  140.8   20  3.92         1

In [13]:
x = df[['cyl','hp']]
y = df['Feedback']
knn = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knn,x,y,cv=5,scoring="accuracy").mean())

0.63