In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv("C:\\Users\\srnva\\Desktop\\NIT Warangal\\Assignments\\Assignment Datasets\\Assignment --5\\Titanic_train.csv")

In [5]:
data.head(5)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,463,0,1,"Gee, Mr. Arthur H",male,47.0,0,0,111320,38.5000,E63,S
1,1,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
2,3,415,1,3,"Sundman, Mr. Johan Julian",male,44.0,0,0,STON/O 2. 3101269,7.9250,NaN,S
3,4,480,1,3,"Hirvonen, Miss. Hildur E",female,2.0,0,1,3101298,12.2875,NaN,S
4,5,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S

In [10]:
Pclass_Survived = data[(data.Pclass == 3) & (data.Survived == 1)].Pclass.count()
Pclass_Survived

99

In [11]:
Male_Died = data[(data.Sex == "male") & (data.Survived == 0)].Sex.count()
Male_Died

423

In [12]:
Embarked_Survivors = data[(data.Survived == 1) & (data.Embarked == "S")].Embarked.count()
Embarked_Survivors

186

In [14]:
MissingValues = data.isnull().Age.sum()
MissingValues

153

In [16]:
SumOfIndex = data[data.isnull().Age].index.to_list()
sum(SumOfIndex)

63430

In [30]:
train_reg = data.dropna()

In [26]:
Xreg = ["Pclass"]
yreg = "Age"
X_train = train_reg.loc[:,Xreg]
y_train = train_reg.loc[:,yreg]

In [27]:
from sklearn.linear_model import LinearRegression
slm = LinearRegression()
slm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
predicted = slm.predict(data.loc[1, Xreg].values.reshape(-1,1))

In [32]:
np.round(predicted.mean())

27.0

In [37]:
data.Age.isnull().sum()

153

In [44]:
nan_inds = data.Age.isnull().to_numpy().nonzero()[0]
a = []
for i in nan_inds:
    a.append(slm.predict(data.loc[1, Xreg].values.reshape(-1,1)))